page-register-time {
    .background {
        background-image: url('../../assets/imgs/default-background.jpg');
        background-size: cover;
    }
    .text-center {
        text-align: center;
    }
}
