<ion-header>
  <ion-navbar>
    <ion-title>{{ 'TrackYourTime' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background" padding>
  <h1 class="text-center">{{ (hours < 10 ? '0' : '') + hours }} : {{ (minutes < 10 ? '0' : '') + minutes }} : {{ (seconds < 10 ? '0' : '') + seconds }}</h1>
  <ion-list class="assignments" *ngFor="let item of assignments">
    <ion-list-header>
      {{ item.name }}
    </ion-list-header>
    <ion-item *ngFor="let rate of item.rates">
      <h2>{{ rate.name }}</h2>
      <button *ngIf="rate.run" ion-button clear item-end icon-only (click)="pause(rate)">
        <ion-icon name="pause"></ion-icon>
      </button>
      <button *ngIf="rate.run" ion-button clear item-end icon-only (click)="stop(rate)">
        <ion-icon name="square"></ion-icon>
      </button>
      <button *ngIf="!rate.run" ion-button clear item-end icon-only (click)="play(rate)">
        <ion-icon name="play"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
